body{
	background-color: #000;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 1.1rem;
	color: white;
	padding: 0;
	margin: 0;
}

.start-menu{
	width: 100vw;
	height: 100vh;
	background-color: #000;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: absolute;
	z-index: 1000;
	opacity: .9;
}
.btn{
	background-color: orangered;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 600;
	padding: 1.1rem 4rem;
	width: 90px;
	margin: 10px 0;
	transition: 0.5s all;
	cursor: pointer;
}
.btn:hover{
	background-color: #fff;
	color: orangered;
}
.txt-big{
	font-weight: 600;
}
.game-area{
	width: 100vw;
	height: 100vh;
	font-size: 1.2rem;
}

.game-obj{
	position: absolute;
	width: 150px;
	height: 150px;
	background-color: orangered;
	border-radius: 50%;
	top: 0;
	left: 0;
}

.score{
	padding-top: 1.1rem;
	padding-left: 1.1rem;
}
.score-lose{
	color: red;
	padding-top: 0;
}
.score-best{
	color: blue;
	padding-top: 0;

}
.title-pos{
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-weight: 500;
	background-color: red;
	padding: 0.4rem;
	font-size: 1rem;
	position: absolute;
	top: 0;
	animation: posanm 1s;
}
.title-pos span{
	padding-left: 0.5rem;
	font-weight: 600;
	font-size: 1.5rem;
	cursor: pointer;
}

.title-pos-anim{
	animation: poscloseanm 1s;
	opacity: 0;
}
.stop-menu{
	display: none;
}
.lose-menu{
	display: none;
}
@keyframes posanm{
	0%{
		opacity: 0;
		top:-50px;
	}
	100%{
		opacity: 1;
		top:0;
	}
}
@keyframes poscloseanm{
	0%{
		opacity: 1;
		top: 0;
	}
	100%{
		opacity: 0;
		top: -50px;
	}
}